.banner__lms {
  background-image: url(../../assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.banner__lms::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}
.link:hover {
  color: #ff630e;
  transition: 500ms;
}
.container h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 45px;
}

.section2 {
  padding-top: 10px;
  text-align: center;
}

.container .titles2 {
  color: #0e0a38;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 45px;
}
.employ__box {
  width: 90%;
  padding-left: 10%;
}
.employ__box img {
  border-radius: 40px;
}

.func{
  padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.section4 .title4{
  color: #0e0a38;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 750;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}
.section-lms-func-title{
  padding-top: 20px;
    color: #ff630e;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}
.box-bStudent{
  height: 100%;
  overflow: hidden;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}
.box-bStudent h3{
  font-size: 22px;
  color: #ff630e;
  line-height: 30px;
  font-weight: 700;
}
.employ_box_img{
  width: 100%;
}
.box-bStudent p{
  height: 100%;
    padding-top: 10px;
    font-size: 20px;
    color: #0e0a38;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
    margin-top: auto;
}

.owl-carousel{
  display: block;
}